.main {
    max-width:100vw;
    width: 100vw;
    min-height: 100vh;
    background-color:#e2f0f7;
}

.title {
    margin-top: 116px;
    color:#ffffff;
    padding-left: 20px;
}

.imgContainer {
    margin-top: 116px;
    position: relative;
    width: 81.25%;
    height: 450px;
    overflow: hidden;
    border-radius: 10px;
}

.imageCover {
    position:absolute;
    width: 100%;
    height: 100%;
    left:0px;
    top:0px;
    background-image: linear-gradient(transparent, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0.8) 100%);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: start;
    padding:auto 10px 10px;
}

.featureTitle {
    font-weight: 500;
    font-size: 26px;
    letter-spacing: 0.02em;
    text-align: left;
    width:81.25%;
}

.feature {
    display: flex;
    justify-content: flex-start;
    width: 81.25%;
}

.featureIcon{
    flex:0.05;
}
.featureAbout {
    flex:0.95;
}

@media (max-width:648px) {
    .featureTitle {
        width: 90%;
    }
    .imgContainer {
        width: 90%;
        height: 300px;
    }
    .feature {
        width: 90%;
    }

    .featureIcon{
        flex:0.1;
    }
    .featureAbout {
        flex:0.9;
    }
}

@media (min-width:649px) and (max-width:1024px){
    .imgContainer {
        height: 400px;
    }
}

.marginBottom {
    padding-bottom: 80px;
}