
.titleContainer {
  margin-top:15px;
  width:95%;
  display:flex; justify-content:space-between;align-items:center;
  margin:0px; padding:0px;
  margin-bottom: 5px;						
}	
.editButton {
  display:flex;justify-content:center;align-items:center;
  cursor:pointer;
  font-size:16px;
  padding:5px 8px;						
  border-radius: 3px;
  transition:all 0.25s;
  margin-top:15px;
}
.editButton:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color:#ffffff;
}
.interests {  
    border-collapse: collapse;
    width: 95%;
    margin-top: 0px;
    margin-bottom: 15px;  							
}

.interests td, .interests th {
    border: 1px solid #ddd;
    padding: 8px;
}

.interests tr:nth-child(even){background-color: #f2f2f2;}

.interests tr:nth-child(odd){background-color: #ffffff;}

.interests tr:hover {background-color: #ddd;}

.interests th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
}

.interests tr td:first-child {
  width: 85%;
}

.interests tr td:last-child {
  width: 15%;
}

.editedInterest tr td:first-child {
  width: 70%;
}

.editedInterest td td:nth-child(2), .editedInterest td td:nth-child(3) {
  width:15%;
}

