.layoutContent {
    max-width: 100%;
    min-height: calc(100vh - 100px);
    height: auto;
    display: flex;
    justify-content: center;
}
.drawer {
    background-color: #D8DCD6;
   
    transition: width .7s;
    min-height: calc(100vh - 100px);
    overflow: hidden;
  }
  .paper {
    cursor: pointer;
    text-align: center;
    padding: 20px 0px;
    margin:5px 4px;
    background-color: #ffffff;
    color: #636363;
    border-radius: 5px;
    border: 1px solid transparent;
    transition: border 0.25s color 0.25s;
    display: flex;
    justify-content: center;
  }

  .paper:hover {
      color:#000;
      border: 1px solid #000;
  }

  .subMenuContainer {
    background-color: #D8DCD6;
    transition: all 0.25s;
    padding:5px;
    margin:0px 4xp 4px;
  }

  .subMenuItem {
    padding: 15px 0px;
  }
  .closed {
    width: 0px;
  }
  .opened {
    width: 240px;
  }
  .main {
    flex: 1;
    background: #f7f5f5;
    color: black;
    align-items: stretch;
  }

  @media (max-width: 648px) {
    .opened {
      width: 40vw;
    }
    .paper {
      padding:15px 0px;
    }
  }